@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using System.Globalization
@using cloudscribe.Web.Common.Helpers
@using cloudscribe.SimpleContent.Web.TagHelpers
@inject IStringLocalizer<SimpleContent> sr
@* comment this and uncomment the below if you want editable slug*@
<input type="hidden" asp-for="@Model.Slug" />
@*<div class="form-group">
        <label asp-for="Slug" class="col-md-2 control-label">@sr["Slug"]</label>
        <div class="col-md-10">
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
    </div>
*@
