@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@{
    var disqusCommentCountScriptPath = "//" + Model.ProjectSettings.DisqusShortName + ".disqus.com/count.js";
    ViewData["AsidePrimaryVisible"] = true;
    ViewData["AsidePrimaryToggle"] = "show";
}
@section Meta {
    @{await Html.RenderPartialAsync("BlogMetaPartial", Model); }
}
@section Styles {
    @{await Html.RenderPartialAsync("BlogStylePartial", Model); }
}
@section Toolbar {
    @if (Model.CanEdit)
    {
        await Html.RenderPartialAsync("ToolsPartial", Model);
    }
}
@if (Model.ProjectSettings.ShowTitle)
{
    await Html.RenderPartialAsync("BlogHeaderPartial", Model.ProjectSettings);
}
<div itemscope itemtype="http://schema.org/Blog" class="blogroot">
    @{await Html.RenderPartialAsync("PostDetailPartial", Model); }
</div>
@section AsidePrimary {
    @{await Html.RenderPartialAsync("SideBarPartial", Model); }
}
@section Scripts {
    @if (!string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
    {
        <script id="dsq-count-scr" src="@disqusCommentCountScriptPath" async></script>
    }
    else if (Model.CommentsAreOpen)
    {
        await Html.RenderPartialAsync("CommentScriptsPartial");
    }
    @{await Html.RenderPartialAsync("BlogScriptsPartial", Model); }
}
