@{
}
<section class="panel panel-default">
    <div class="panel-heading">
        <h3>About me</h3>
    </div>
    <div class="panel-body">
        <p>
            I'm a Software Developer and Musician living in Concord, North Carolina.  I've created this site as a means to share my passions for software
            development, music, and life.  I consider myself one of the lucky few who really enjoy their work.
        </p>
        <p>
            I'm the founder of a few open source projects, I hope
            you'll check them out. My work on these open source projects is all part of my evil scheme to create the job I want for myself, I'm not there yet but I'm working on it.
            <ul class="list-unstyled">
                <li><a href="http://cloudscribe.com">cloudscribe</a></li>
                <li><a href="https://www.mojoportal.com">mojoPortal</a></li>
            </ul>
        </p>
        <p>I'm not a prolific blogger, but hey I built the blog software that this site is running on, so maybe I will blog more going forward.</p>
        <p>
            I also like to help people on stackoverflow when I'm able.
            <a href="http://stackoverflow.com/users/1922568/joe-audette"><img alt="profile for Joe Audette at Stack Overflow, Q&amp;A for professional and enthusiast programmers" height="58" src="http://stackoverflow.com/users/flair/1922568.png?theme=clean" title="profile for Joe Audette at Stack Overflow, Q&amp;A for professional and enthusiast programmers" width="208" /> </a>
        </p>
        <p>
            <a href="https://github.com/joeaudette"><i class="fa fa-github-square fa-3x"></i></a>
            <a href="http://www.twitter.com/joeaudette"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/sourcetreesolutions"><i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="https://www.youtube.com/channel/UCeSb4bXBeH8FL8JpLxEAnQA"><i class="fa fa-youtube-square fa-3x"></i></a>
        </p>
    </div>
</section>
