@model cloudscribe.SimpleContent.Web.ViewModels.PageEditWithTemplateViewModel
@inject IStringLocalizer<SimpleContent> sr
@if (string.IsNullOrEmpty(Model.DisqusShortname))
{
    <input asp-for="ShowComments" type="hidden" />
}
else
{
    <div class="form-group">
        <div class="form-check">
            <input asp-for="ShowComments" class="form-check-input" />
            <label asp-for="ShowComments" class="form-check-label">@sr["Enable Comments"]</label>
        </div>
    </div>
}
