@inject IStringLocalizer<SimpleContent> sr
@{
    ViewData["Title"] = sr["Site Map"];
}
<h1>@sr["Site Map"]</h1>
@await Component.InvokeAsync("Navigation", new { viewName = "SiteMap", filterName = "sitemap", startingNodeKey = "RootNode" })
