@model cloudscribe.SimpleContent.Web.ViewModels.StaffMemberViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MobilePhone" class="control-label"></label>
    <input asp-for="MobilePhone" class="form-control" />
    <span asp-validation-for="MobilePhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ProfileUrl" class="control-label"></label>
    <input asp-for="ProfileUrl" class="form-control" />
    <span asp-validation-for="ProfileUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Department" class="control-label"></label>
    <input asp-for="Department" class="form-control" />
    <span asp-validation-for="Department" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Position" class="control-label"></label>
    <input asp-for="Position" class="form-control" />
    <span asp-validation-for="Position" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Biography" class="control-label"></label>
    <input asp-for="Biography" class="form-control" />
    <span asp-validation-for="Biography" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="JoinDate">JoinDate</label>
    <input asp-for="JoinDate" type="hidden" />
    <input type="text" id="JoinDateDisplay" class="form-control"
           data-bs-datepicker="true"
           data-bs-datepicker-iso-target-id="JoinDate"
           data-bs-datepicker-iso-format="YYYY-MM-DDTHH:mm:ss.sss"
           value='@Model.JoinDate?.ToString("g")'
           data-bs-datepicker-debug="false"
           data-bs-datepicker-keepOpen="false"
           data-bs-datepicker-allowInputToggle="true"
           data-bs-datepicker-locale="@CultureInfo.CurrentCulture.Name" />
    <span asp-validation-for="JoinDate" class="invalid-feedback"></span>
</div>

<div class="form-group">
    <label asp-for="YearsExperience" class="control-label"></label>
    <input asp-for="YearsExperience" class="form-control" />
    <span asp-validation-for="YearsExperience" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Salary" class="control-label"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AnnualBonus" class="control-label"></label>
    <input asp-for="AnnualBonus" class="form-control" />
    <span asp-validation-for="AnnualBonus" class="text-danger"></span>
</div>
