@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.EverythingModel
@using cloudscribe.SimpleContent.ContentTemplates
@inject IStringLocalizer<ContentTemplateResources> sr
<div class="row no-gutters gallery-block compact-gallery simple-gallery">
    @for (int i = 0; i < Model.Items.Count; i++)
    {
        <div class="col-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="@Model.Items[i].ResizedUrl">
                <img class="img-fluid image" src="@Model.Items[i].ResizedUrl">
                <span class="description">
                    <span class="description-heading">@Model.Items[i].Title</span>
                    <span class="description-body">@Model.Items[i].Description</span>
                </span>
            </a>
        </div>
    }
</div>
