@model cloudscribe.SimpleContent.Models.ProjectSettings
<header role="banner" class="blog-header">
    <span><a asp-controller="Blog" asp-action="Index" itemprop="url">@Model.Title</a></span><br />
    <em>@Model.Description</em>
</header>
