@using cloudscribe.FileManager.Web.Models
@using Microsoft.Extensions.Localization
@model CkBrowseModel
@inject IStringLocalizer<FileManagerStringResources> sr
@{
    Layout = "_LayoutDialog";
}

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-8 ">
            <input class="form-control" type="text" id="fileSelection" name="fileSelection" placeholder="Selected File" />
        </div>
        <div class="col-md-4">
            <button class="col-md-4 btn btn-default" id="btnSelector">Select</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" style="height: 500px;overflow: scroll;">
            <div id="tree"></div>
        </div>
        <div class="col-md-7">

            <ul class="nav nav-tabs" role="tablist">
                <li id="tab1" role="tab">
                    <a href="#tabList" data-toggle="tab" class="active"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;@sr["Preview"]</a>
                </li>
                <li id="tab2" role="tab">
                    <a href="#tabMap" data-toggle="tab"><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;@sr["Tools"]</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="tabList" role="tabpanel" aria-labelledby="tab1">
                    <div style="max-width:570px; height:470px;overflow:auto">
                        <img  id="filePreview" src="~/images/1x1.gif" alt="Preview selected image" />
                    </div>
                </div>
                <div class="tab-pane" id="tabMap" role="tabpanel" aria-labelledby="tab2">
                    
                        <div class="createfolder">
                            Create Folder
                        </div>
                        <div class="fileupload">
                            Upload File
                        </div>
                    
                </div>

                
            </div>

            
        </div>
        
    </div>
</div>
@section scripts {

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
       
    </environment>
    <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    </environment>
    <script src="~/js/bootstrap-treeview.min.js"></script>
    <script type="text/javascript">
        var treeData = [];
        
        (function() {
            var dataApi = "/filemanager/getfiletreejson";
            var selector = $("#fileSelection");
            var preview = $("#filePreview");

            var returnFunc = function returnFileUrl() {
                var funcNum = '@Model.CKEditorFuncNum';
                var fileUrl = selector.val();
                window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                window.close();
            };
            var btn = $("#btnSelector");
            btn.click(returnFunc);

            $('#tree').treeview({
                dataUrl: {
                    method:'GET',
                    dataType: 'json',
                    url: dataApi,
                    cache:false
                },
                nodeIcon: 'glyphicon glyphicon-stop',
                partiallyCheckedIcon: 'glyphicon glyphicon-expand',
                checkedIcon: 'glyphicon glyphicon-check',
                uncheckedIcon: 'glyphicon glyphicon-unchecked',
                selectedIcon: 'glyphicon glyphicon-stop',
                collapseIcon: 'glyphicon glyphicon-minus',
                emptyIcon: 'glyphicon',
                expandIcon: 'glyphicon glyphicon-plus',
                loadingIcon: 'glyphicon glyphicon-hourglas',
                levels: 2,
                onhoverColor: '#F5F5F5',
                highlightSelected:true,
                showBorder: true,
                showCheckbox: false,
                showIcon: true,
                wrapNodeText: false,
                lazyLoad: function (node, dataFunc) {
                    //alert(node.text + ' lazyload');
                    $.ajax({
                        dataType: "json",
                        url: dataApi + '?virtualStartPath=' + node.virtualPath
                       
                    })
                      .done(function (data) {
                          dataFunc(data); 
                      })
                    ;

                },
                onNodeSelected: function (event, data) {
                    //alert(data.virtualPath + ' selected');
                    if (data.canPreview) {
                        selector.val(data.virtualPath);
                        preview.attr("src", data.virtualPath);

                    }
                },
                onNodeExpanded: function (event, data) {
                    //alert(data.text + ' expanded');
                }
            });
            
            
        })();
        
        
        
    </script>
}