
@{
    Layout = "_LayoutDialog";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            Create Folder
        </div>
        <div class="col-md-6">
            Upload File
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Tree goes here
        </div>
        <div class="col-md-8">
            Preview/Selector here
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/bootstrap-treeview.min.js"></script>
}