@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IBlogRoutes blogRoutes
@inject ISimpleContentThemeHelper themeHelper
@{
    var themeSettings = themeHelper.GetThemeSettings();
}

<section class="panel panel-default">
    <div class="panel-heading">
        <h3><i class="@themeSettings.Icons.About" aria-hidden="true"></i>&nbsp;@sr["About me"]</h3>
    </div>
    <div class="panel-body">
        @if (Model.CanEdit && string.IsNullOrWhiteSpace(Model.ProjectSettings.AboutContent))
        {
            <p>
                @sr["You can edit this from Administration > Content Settings"]
            </p>
        }
        @Html.Raw(Model.ProjectSettings.AboutContent)
    </div>
</section>
