@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@inject IStringLocalizer<SimpleContent> sr
@if (Model.HistoryId.HasValue)
{
    <div class="alert alert-warning" role="alert">
        @if (Model.DidReplaceDraft)
        {
            @sr["A previous verion of this post has been restored to the editor replacing the current draft version. If this is not intended, click cancel."]
        }
        @if (Model.DidRestoreDeleted)
        {
            @sr["You've just restored a previously deleted post to the editor, click save to re-create the post. If this is not intended, click cancel."]
        }

    </div>
}
