@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.TwoColumnWithImageViewModel
@{
    Layout = "_LayoutEmpty";
}
<div>
    <a href="@Model.ImageFullSizeUrl"><img src="@Model.ImageUrl" alt=" " /></a>
</div>
<div class="row">
    <div class="col">
        @Html.Raw(Model.ColumnOneContent)
    </div>
    <div class="col">
        @Html.Raw(Model.ColumnTwoContent)
    </div>
</div>
