@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}

<section class="panel panel-default">
    <div class="panel-heading">
        <h3><i class="@icons.About" aria-hidden="true"></i>&nbsp;@sr["About me"]</h3>
    </div>
    <div class="panel-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id convallis dolor. Aenean sed lectus a ante tempor ultricies. Nunc eu vulputate lorem, vel feugiat eros. Pellentesque rutrum rhoncus viverra. Curabitur at nunc at erat varius tristique non a turpis. Fusce placerat mi nec libero viverra aliquam. In quis ultricies risus, non dignissim urna. Cras eget dui sem. 

        </p>
    </div>
</section>
