@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
<span id="editorconfig" aria-hidden="true" class="collapse"
      data-dropfileuploadurl="@Model.DropFileUrl"
      data-filebrowserurl="@Model.FileBrowseUrl"
      data-imagebrowseurl="@Model.ImageBrowseUrl"
      data-editorid="Content"
      data-datepickerid="PubDate"
      data-usingcdn="false"></span>
