@model cloudscribe.SimpleContent.Models.ProjectSettings

@{
    string headerClass = (Model.ShowTitle) ? headerClass = "" : "class=visually-hidden";
}

<h1 @headerClass>
    <a asp-controller="Blog" asp-action="Index" itemprop="url">@Model.Title</a>
</h1>

@if (Model.ShowTitle)
{
        <em>@Model.Description</em>
}


