@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@inject IStringLocalizer<SimpleContent> sr
@* comment this and uncomment the below if you want editable correlationkey *@
<input type="hidden" asp-for="@Model.CorrelationKey" />
@*
    <div class="form-group">
        <label asp-for="CorrelationKey">@sr["Correlation Key"]</label>
        <input asp-for="CorrelationKey" class="form-control" />
        <span asp-validation-for="CorrelationKey" class="text-danger"></span>
    </div>
*@ 
