@model cloudscribe.SimpleContent.Web.ViewModels.PostEditWithTemplateViewModel
@inject IStringLocalizer<SimpleContent> sr
@* comment this and uncomment the below if you want editable image/thumbnail *@
<input type="hidden" asp-for="@Model.ImageUrl" />
<input type="hidden" asp-for="@Model.ThumbnailUrl" />
@*
    <div class="mb-3">
        <label asp-for="ImageUrl">@sr["Image Url"]</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="ThumbnailUrl">@sr["Thumbnail Url"]</label>
        <input asp-for="ThumbnailUrl" class="form-control" />
        <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
    </div>
*@ 
