@using cloudscribe.Web.Navigation

@model NavigationViewModel

@{
// Copyright (c) Source Tree Solutions, LLC. All rights reserved.
// Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
// Author: Joe Audette
// Created 2015-07-11
// Last Modified: 2015-07-15
}

@if (Model.CurrentNode != null && Model.ParentChain.Count > 1)
{
    <div class="row">

        <div class="btn-group btn-breadcrumb">  
            @foreach (var node in Model.ParentChain)
            {
                if (!Model.ShouldAllowView(node)) { continue; }
                if (node.Value.IsRootNode)
                {
                    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
                }
                if (node.EqualsNode(Model.CurrentNode))
                {
                    <a href="#" class="btn btn-default">@Model.AdjustText(node)</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a><span class="divider"></span>
                }

            }

        </div>

        
            

       
    </div>

}
