body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.readable-theme , 
.paper-theme {
    margin-top: 18px;
}


.darkly-theme,
.flatly-theme {
    margin-top: 10px;
}

.sandstone-theme,
.journal-theme {
    margin-top: 14px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* make room for gravatar */

header.navbar-fixed-top { min-height:45px;} 
    

div.navbar-gravatar {

    margin:10px 0 0 0;
    

}
    
    

.navbar-text img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
  padding:0;
  margin:0;
}

.mybrand {
    padding-top:15px;
    
}

img, video, iframe {
    max-width: 100%;
}

td img, video, iframe {
    max-width: none;
}

/*
article[data-id="0fe39377-57a9-4d42-a9f1-22fc0c5ba18c"] {
    padding: 0 0 0 0; margin: 0 0 0 0; min-height:0;
}
#myCarousel {
   
    position:relative; top:-60px;
    max-height:420px;
        
}

    */
.psetform {
    min-width:340px;
    padding: 4px 4px 4px 4px;
}


ul.nav li.dropdown:hover>ul.dropdown-menu {
            display: block;
        }

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

