@model cloudscribe.Core.SimpleContent.Integration.ViewModels.ContentSettingsViewModel
@inject IStringLocalizer<SimpleContent> sr
@* comment this and uncomment the below if you want editable Image Path *@
<input type="hidden" asp-for="@Model.CdnUrl" />
@*
        <div class="form-group">
        <label asp-for="CdnUrl" class="col-md-2 control-label">@sr["CDN Base Url"]</label>
        <div class="col-md-10">
            <input asp-for="CdnUrl" class="form-control" />
            <span asp-validation-for="CdnUrl" class="text-danger"></span>
        </div>
    </div>
*@
 
