@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using System.Globalization
@using cloudscribe.Web.Common.Helpers
@using cloudscribe.SimpleContent.Web.TagHelpers
@inject IStringLocalizer<SimpleContent> sr
@* comment this and uncomment the below if you want editable correlationkey *@
<input type="hidden" asp-for="@Model.CorrelationKey" />
@*
    <div class="form-group">
        <label asp-for="CorrelationKey" class="col-md-2 control-label">@sr["Correlation Key"]</label>
        <div class="col-md-10">
            <input asp-for="CorrelationKey" class="form-control" />
            <span asp-validation-for="CorrelationKey" class="text-danger"></span>
        </div>
    </div>
*@ 
