@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using cloudscribe.Web.Common.Components
@inject ICkeditorOptionsResolver editorOptionsResolver
@{
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
    var contentId = Model.Id;
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-post-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}
<textarea asp-for="Content" class="form-control" rows="10" cols="70"
          data-markdown-unobtrusive=""
          data-markdown-autosave="true"
          data-markdown-contentid="@contentId"
          data-markdown-forceSync="true"
          data-markdown-indentWithTabs="true"
          data-markdown-spellChecker="true"
          data-markdown-filemodalid="#fileBrowseDialog"
          data-markdown-filebrowseurl="/filemanager/filedialog"
          data-markdown-dropfileuploadurl="@ckOptions.DropFileUrl"></textarea>
<div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="height:99%;width:99%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i title="Close" class="fa fa-close"></i></button>
            </div>
            <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 600px;"></iframe>
        </div>
    </div>
</div>
